@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
	/**/
	.header__logo
		padding-top: 5px
	.header__logo-img
		width: 160px
	.header__category
		padding-left: 15px
	.header__category-link
		font-size: 0.8em
		padding: 13px 5px 13px 5px
	.header__category-icon
		margin-left: 5px
	.header__request-link
		font-size: 0.8em
		padding: 14px 10px 14px 10px
	.header__nav
		float: right
	.header__nav-listSeller
		float: right
	.ms-ctn .ms-sel-item
		left: 10px
	.menu__sub
		left: 5px
		top: 35px
	.header__subnav
		left: 103%
	.header__subnav-item:first-child
		padding-top: 20px
	.header__dropdown
		left: 15px
	.header__dropdown-columnone::after
		left: 125px
	.menu__link
		margin-right: 20px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	/**/
	.header
		padding-top: 5px
	.header__logo
		float: none
		text-align: center
		padding-bottom: 10px
	.header__logo-img
		display: inline-block
	.header__category
		max-width: 110px
	.header__category-link
		text-align: center
		font-size: 0.8em
		padding: 7px 5px 7px 5px
	.header__category-icon
		padding-top: 3px 
		margin-left: 5px
	.header__request
		max-width: 110px
	.header__request-link
		font-size: 0.8em
		padding: 8px 10px 8px 10px
	.header__form-btn
		font-size: 1.2em
	.header__nav
		max-width: 220px	
	.header__nav-link	
		margin-left: 5px
	.header__nav-seller
		max-width: 500px
	.header__nav
		float: right
	.header__subnav
		top: 77%
		left: 103%
	.header__dropdown-columnone::after
		left: 65px
	.menu__link
		padding: 5px
		margin-right: 7px
	.menu__sub
		left: 5px
		top: 25px
	.seller
		float: right
	.seller-left
		left: 50%
		text-align: center
	.ms-ctn input
		font-size: 0.9em
	.ms-ctn .ms-sel-item
		left: 10px
	.menu__item-printing .menu__sub-columnone::after
		left: 20px
	.menu__item-packaging .menu__sub-columnone::after
		left: 30px
	.menu__item-signage .menu__sub-columnone::after
		left: 80px
	.menu__item-signage .menu__sub
		left: -60px
	.menu__item-3d .menu__sub-columnone::after
		left: 130px
	.menu__item-3d .menu__sub
		left: -120px
	.menu__item-large .menu__sub-columnone::after
		left: 200px
	.menu__item-large .menu__sub
		left: -160px
	.menu__item-sublimation .menu__sub-columnone::after
		left: 340px
	.menu__item-sublimation .menu__sub
		left: -300px
	.menu__item-embroidery .menu__sub-columnone::after
		left: 440px
	.menu__item-embroidery .menu__sub
		left: -400px
	.menu__item-graphic .menu__sub-columnone::after
		left: 520px
	.menu__item-graphic .menu__sub
		left: -480px
	.menu__item-equipment .menu__sub-columnone::after
		left: 595px
/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/
	body
		font-size: 14px
	.header
		position: relative			
	.header__menu
		display: block
		float: right
		margin-top: 10px
	.header__menu-button
		border: none
		outline: none
		position: relative
		background: #f3f3f3
	.header__menu-btn
		font-size: 2em
		opacity: .6
	.header__menu-btn:hover
		opacity: 1
	.header__nav-value
		font-size: 0.8em
		top: 0px
		right: 5px
	.header__nav
		position: absolute
		top: 5px
		right: -5px
	.header__nav-link
		display: inline-block
		font-size: 1.6em
		padding: 0 2px
		margin-left: 0
	.header__request-link
		padding: 9px 13px
	.header__request-linkSeller
		padding: 8px 13px
	.header__nav-item:last-child
		margin-left: 30px 
	.ms-ctn input
		border: 1px solid #cecece
	.icon-help
		border: 1px solid rgb(196, 196, 196)
		border-radius: 100%
		background-color: rgb(196, 196, 196)
		color: #f3f3f3
		@include transition
		&:hover, &:active, &:focus
			border: 1px solid #f3f3f3
			background-color: #f3f3f3
			color: $font_color
	.icon-cart-icon
		vertical-align: middle
	.header__form
		margin-left: 15px
	.header__request
		margin-right: 15px
	.ms-ctn .ms-sel-item
		left: 23px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	/**/
	.header__nav
		top: 0
		right: -5px
	.header__nav-item:last-child
		margin-left: 5px 
	.main
		margin-top: 200px 
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
	/**/

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	
