@import "bourbon"
@import "fonts"
@import "libs"
@import "vars"
@import "fontello"
@import "magicsuggest"

*
	box-sizing: border-box

*::-webkit-input-placeholder
    color: $input_color

*:focus::-webkit-input-placeholder
	opacity: 0
	transition: opacity .3s ease

*:-moz-placeholder
    color: $input_color

*:focus:-moz-placeholder
	opacity: 0
	transition: opacity .3s ease

*::-moz-placeholder
    color: $input_color

*:focus::-moz-placeholder
	opacity: 0
	transition: opacity .3s ease

*:-ms-input-placeholder
    color: $input_color

*:focus:-ms-input-placeholder
	opacity: 0
	transition: opacity .3s ease

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $input_color
body input:required:valid,
body textarea:required:valid
	color: $input_color

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1
	font-family: $helvetica_light
	overflow-x: hidden
	min-height: 100vh
	height: auto

h1, h2, h3, h4, h5, h6
	padding: 0
	margin: 0

p
	padding: 0
	margin: 0

ul, li
	padding: 0
	margin: 0

.p0
	padding: 0 !important

.m0
	margin: 0 !important

.img-responsive
	display: block
	max-width: 100%
	height: auto

// HEADER STYLES
.header
	background: #f3f3f3
	position: relative
	&__logo
    	line-height: 82px
    	text-align: right
	&__form 
		display: block
		position: relative
		margin-top: 21px
		&-icon
			margin-left: 15px
		&-dropdown
			display: inline-block
			text-transform: capitalize
			width: 100%
			color: $font_color
			padding: 11px 0 11px 15px
			max-width: 200px
			cursor: pointer
			transition: .5s ease
			border: 1px solid #cecece
			background: #e3e3e3
			float: left
			&:hover, &:active, &:focus
				text-decoration: none
				color: #262626
		// &-field 
		// 	display: inline-block
		// 	padding-left: 15px
		// 	width: 570px
		// 	height: 40px
		// 	color: $input_color
		// 	border: 1px solid #cecece
		// 	margin-left: -5px
		// 	&:active, &:focus
		// 		outline: 0
		&-button
			position: absolute
			padding: 0
			height: 40px
			line-height: 40px
			width: 40px
			top: 0
			left: 860px
			border: none
			background-color: #189299
			&:active, &:focus, &:hover
				outline: 0
				background: #11686d
		&-btn
			font-size: 1.4em 
			color: $white
		&-request
			display: inline-block
			text-transform: uppercase
			text-align: center
			width: 100%
			color: $white
			padding: 13px
			font-size: 0.875em
			font-family: $helvetica_bold
			max-width: 165px
			cursor: pointer
			transition: .5s ease
			background: $button
			margin-left: 10px
			&:hover, &:active, &:focus
				text-decoration: none
				background: #11686d
				color: $white
	&__nav
		display: block
		&-list
			list-style-type: none
			margin-top: 21px
		&-item
			display: inline-block
		&-link
			display: block
			position: relative
			color: $font_color
			padding: 9px 16px 11px 16px
			cursor: pointer
			transition: .5s ease
			&:hover, &:active, &:focus
				text-decoration: none
				color: #262626
		&-img
			margin-top: -8px
			cursor: auto
		&-value
			position: absolute
			top: 33px
			right: 47px
			color: $font_color
// HEADER STYLES END

// MENU STYLES
.menu
	line-height: 20px
	border-bottom: 1px solid rgba(175, 174, 174, .6)
	&__list
		list-style-type: none
		max-width: 1200px
		margin: auto	
	&__item
		display: inline-block
	&__link
		display: block
		position: relative
		color: $font_color
		font-size: 1.063em
		padding: 5px 0
		cursor: pointer
		transition: .5s ease
		margin-right: 50px
		&:hover, &:active, &:focus
			text-decoration: none
			color: #189299
		&-last
			margin-right: 0	
		&-first
			margin-left: 15px



// SEARCH FIELD STYLES
.ms-ctn
	position: relative
	display: inline-block
	background: $white
	border: 1px solid #cecece
	padding: 5px 12px
	height: 40px
	max-width: 700px
	width: 100%
	margin-left: -1px
	color: $input_color
	float: left
.ms-ctn input
	padding-top: 2px
.ms-ctn .ms-sel-item
	padding: 3px 5px
.ms-sel-ctn .ms-sel-item,
.ms-ctn .ms-sel-item
	color: rgba(0, 0, 0, 0.6)
	border: 1px solid #cecece
.ms-sel-ctn .ms-sel-item:hover
.ms-ctn .ms-sel-item:hover
	color: #262626
// SEARCH FIELD STYLES END


@import "media" // Всегда в конце
